#root {
  text-align: center;
  min-height: 100vh;
  background-color: antiquewhite;
}

.deposit,
.withdraw {
  display: grid;
  gap: 3px;
}

.form {
  display: grid;
  justify-content: center;
  gap: 2px;
}
