#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.deposit,
.withdraw {
  display: grid;
  gap: 3px;
}

.form {
  display: grid;
  justify-content: center;
  gap: 2px;
}

.form-login {
  background-color: beige;
}
