#root {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(246, 241, 241);
}

.deposit,
.withdraw {
  display: grid;
  gap: 3px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.form {
  display: grid;
  justify-content: center;
}

.card {
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 20px 0 20px;
  margin: 0 20px 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  background-color: rgb(188, 204, 190);
}

.main {
  display: grid;
  justify-content: center;
}

.h4 {
  padding: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white; /* Text color in dark mode */
    background-color: #333; /* Dark background color in dark mode */
  }

  .card {
    background-color: #444; /* Dark background color for cards in dark mode */
  }

  /* Add more styles for other elements as needed */
}
