:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: black;
  min-height: 100vh;
  background-color: #9a7979;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: antiquewhite;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d5c7c7;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white; /* White text color in dark mode */
    background-color: black; /* Black background color in dark mode */
  }

  a {
    color: #dedede; /* Links color in dark mode */
  }

  button {
    background-color: #390707; /* Button background color in dark mode */
    color: white; /* Button text color in dark mode */
    border-color: #646cff; /* Button border color in dark mode */
  }

  /* Add more styles for other elements as needed */
}
